
<div class="container my-3 border p-3">
    <div class="row"> 
      <div class="col-md-8 col-lg-6">
        <div class="form-group mb-2">
          <label for="nomeInput">Nome</label>
          <input (input)="alterarNome($event)" 
          type="text" class="form-control" 
          id="nomeInput" 
          aria-placeholder="Digite um nome"
          #nomeImput>
        </div>
        <button (click)="adicionar()" type="button" class="btn btn-primary">Adicionar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="alet alert-primaty mt-3 p-3">
          {{nome}}
        </div>
      </div>
    </div>
</div>







<!-- 2 + 2 = {{2 + 2}}
<p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>
<p>Lançando um dado: {{lancarDado()}}</p> -->

